body{
    padding: 0; background-image: url(jbareham_201201_ecl1050_goty_2020_top_50_02.0.jpg); 
    margin: 0; background-repeat: no-repeat;background-size: 1600px  280px; margin-top: 2cm;} 
    ul{
       list-style-type: none;
       background-color:#210e0e;background-position: top; margin-bottom: -3cm;
       color: white; margin: 0px; border-radius: 3cm; border-style:double; border-color: greenyellow;margin-top: -1cm; height: 57px;}
    ul li{
     display: inline-block; padding: 30px; transition: 0.2s; margin-left: 50px; margin-top: -0.22cm;
    }
    ul li button{
    background-color: blueviolet; height:35px;margin-top: -35px; width: 100px;font-size: larger; color: white; transition-duration: 0.4s;
    transition-property: all;
    }
    ul li button:hover{
    background-color: aquamarine; border-radius: 20px; color: black;
    }
    ul li:hover .dropdown{
    display: block; position: absolute;margin-left: -0.6cm;margin-top: 0.55cm; 
    }
    #back{
        background-image: url(1000_F_323880864_TPsH5ropjEBo1ViILJmcFHJqsBzorxUB.jpg);width: auto;height:auto;margin-top: -20px;display: flex;justify-content: center;margin-top: 1px;
    }
    .container{
        background-color:white; width: 1200px ;height: auto; margin-top:1px; text-transform: capitalize;
    }
    .ima img{
        width: 700px;height: 400px; margin-left:250px; }
    p{
        font-style:normal; font-weight: 200; font-size: larger; text-transform: uppercase; color: black; font-family: serif;font-weight: 500; width: 1120px;margin-left: 30px;
    }   
    .para ol{
        list-style-type: none; font-size: larger; margin-left: -10px;
    } 
    table,tr th,td{
        border: 1px solid white; border-collapse: collapse; padding: 10px;background-color: black; color: white;margin-left: 300px;
    }
    table{
        height: 272px;
    }
    #h{
        margin-left: 30px; font-size:25px;
    }
    #way ol{
    font-size:larger;
    }
     #f{
        text-align: center;
     }   
    h4{
        text-align: center;font-size: larger;
    }
    h4 a:hover{
        color: blue;
    }
    .f2 img{
        width: 200px;height: 100px;
    }
    #p2{
        margin-left: -2px; width: 200px; font-style: normal;font-size: medium; text-transform: initial;color: white; 
    } 
    .first{
        border: 0.5px white solid; background-color: black; margin-right: 30px; border-radius: 0px 0px 0px 10px;}
    #hea{
        width: 200px;
    }
 #hea :hover{
 color: white;
 }
 #hea :visited{
    color: white;
 }
 #head2{
    color:purple;  cursor: pointer;
 }
 #head2 :hover{
    color: blueviolet;
 }
 #head2:visited{
    color:red;
 }

 #fi{
    list-style-type: none; display: inline-block;
 }
 #fiii{
       display: inline-block; padding-left: auto;padding-top:auto; padding-bottom: auto; padding-right: auto; background-color: red; width:130px; height: 31px; margin-left: 25px;transition-duration: 0.5s;transition-property:border-radius;color: white; margin-top: auto;margin-bottom: auto; border-radius: 5px;
 }
 #fiii:hover{
    background-color:greenyellow; color: Red; border-radius: 20px;}
    .footer2{
        height: 60px; background-color: Black; color: white;width:1347p}
        .footer{
            margin-left: 30px; display: flex; flex-wrap: wrap; justify-content: space-between;float: left;}
